.resource_details {
    &__row {
        display: flex;
        margin-bottom: 10px;
        &__item {
            &:first-child {
                font-weight: bolder;
                margin-right: 10px;
            }
        }
    }
}
